@media screen and (max-width:2560px){
    .smart_wotch h2{
		margin-top: -13%;
		width: 10%;
    }
}

@media screen and (max-width:2155px){
    .smart_wotch h2{
		margin-top: -15%;
		width: 20%;
    }
}

@media screen and (max-width:1920px){
    .smart_wotch h2{
		margin-top: -18%;
		width: 20%;
    }
}

@media screen and (max-width:1460px){
    .smart_wotch h2{
        margin-top: -25%;
    }
}

/*1300////////////////////////////////////
/////////////////////////////////////////////*/
@media screen and (max-width:1300px) {
	.containere h1{
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		width: 60%;
	}

	.showcase p{
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		width: 60%;
	}

	.showcase a{
		margin-left: auto;
		margin-right: auto;
	}

	.logo{
		margin-left: 3%;
	}

	nav{
		margin-right: 3%;
	}

	.box {
        margin-left: 30%;
	}
	
	.what_makes_us_awesome h2, .what_makes_us_awesome .bt{
        margin-left: 3%;
	}
	
	.ipad h2, .box_with_words{
        margin-left: 4%;
    }
}

/*/1200/////////////////////////////////////////
///////////////////////////////////////////////*/
@media screen and (max-width:1200px){
	.navigation{
		display: none;  
	}

	.menu-icon{
		display: flex;
		justify-content: center;
		align-items: center; 
	}

	.containere h1{
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		width: 100%;
	}
}

/*/1024/////////////////////////////////////////
///////////////////////////////////////////////*/
@media screen and (max-width:1024px){
	.what_makes_us_awesome h2{
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		width: 60%;
		margin-top: 5%;
		margin-bottom: 4%;
	}

	.box{
		margin-left: 0%;
		margin-top: 0%;
	}

	.box_text{
		padding: 0 3%;
		margin-left: 0%;
	}

	.box_little{
		width: 33%;
	}

	.text_box_lit{
		width: 28%;
		margin-bottom: 15%;
	}

	.what_makes_us_awesome .bt{
		position: absolute;
		bottom: 0;
		left: 38%;
		margin-left: 0;
	}

	.smart_wotch h2{
		margin-top: -28%;
		text-align: center;
		width: 30%;
	}
	
	.iphone h2, .box_02{
		margin-left: 45%;
	}

	.soc_ikons{
		margin-left: 40%;
		margin-top: 1%;
	}
}

/*/768/////////////////////////////////////////////
////////////////////////////////////////////////////*/
@media screen and (max-width:768px){
	.soc_ikons{
		display: none;
	}

	.containere h1{
		font-size: 80px;
		line-height: 70px;
	}

	h2{
		font-size: 40px;
		line-height: 45px;
		
	}

	.showcase_02 h2{
		line-height: 45px;
		margin-left: auto;
		margin-right: auto;
		width: 70%;
	}

	.showcase_02{
		background-color: #2f2339;
		background-image: none;
		background-size: 100%;
		padding-bottom: 8.3%;
		text-align: center;
	}

	.showcase_02 p{
		width: 55%;
		margin-left: auto;
		margin-right: auto;
	}

	.showcase_02 a{
		margin-left: auto;
		margin-right: auto;
	}

	.what_makes_us_awesome h2{
		margin-top: 8%;
		margin-bottom: 5%;
	}

	.box_little .img_in,
	.box_little .img_in_2,
	.box_little .img_in_3{
		width: 40%;
	}

	.ipad img, .color::after{
		display: none;
	}

	.ipad{
		background-color: #2f2339;
		margin-top: 10%;
	}

	.ipad h2{
		margin-top: 7%;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}

	.box_with_words{
		width: 100%;
	}

	.iphone{
		background-color: #2f2339;
		width: 100%;
		margin-top: 15%;
	}

	.iphone img, .color_02::after{
		display: none;
	}

	.iphone h2{
		margin-top: 15%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}

	.box_02{
		width: 70%;
		margin-left: auto;
		margin-right: auto;
	}

	.box_02_little p:first-child{
		margin-top: 10%;
	}

	/*/------///////////////////////////---------/*/
	.we_are-creative_orang, .order{
		display: flex;
		flex-wrap: wrap;
	}

	.collor_03::after{
		display: none;
	}

	.collor_03{
		background-color: #ee5d30;
		padding-top: 10%;
		padding-bottom: 6%;
		order: 5;
	}

	.we_are-creative_orang h2{
		margin-top: 0%;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		width: 60%;
	}

	.collor_03 p, .collor_03 p:nth-child(2){
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		width: 60%;
	}

	.collor_03 .bt{
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0%;
	}

	.box_other_thims{
		width: 100%;
		order: 20;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10%;
		margin-top: 5%;
	}

	.box_other_thims_little{
		width: 40%;
		margin-left: auto;
	}

	/*/-------///////////////-----------------*/
	.box_contact{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		margin-left: auto;
		margin-right: auto;
	}

	.title_01{
		text-align: center;
		width: 100%;
		margin-top: 5%;
		margin-left: auto;
		margin-right: auto;
	}

	.box_contact_little{
		width: 31%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0%;
		margin-top: 4%;	
	}

	.box_contact a{
		width: 100%;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}

	.box_contact_little p:last-child{
		width: 100%;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}

	.after_email::before,
	.after_tel::before,
	.after_address::before{
		display: none;
	}

	.box_contact .box_contact_little p:first-child{
		text-align: center;
		margin-left: 0%;
	}

	.after_email_email::before,
	.after_email_mobile::before,
	.after_email_address::before{
		content: '';
		display: block;
		background-color: #ee5d30;
		background-repeat: no-repeat;
		background-position: center;
		width: 77px;
		height: 77px;
		margin-top: 0%;
		border-radius: 50%;
		text-align:center;
		margin-left:auto;
		margin-right:auto;
		margin-bottom: 10%;
		box-shadow: 4.5px 7.794px 21.5px rgba(0, 0, 0, 0.07);
	}

	.after_email_email::before{
		background-image: url(../img/ikons_im_ph_ad/1.png);
	}

	.after_email_mobile::before{
		background-image: url(../img/ikons_im_ph_ad/2.png);
	}

	.after_email_address::before{
		background-image: url(../img/ikons_im_ph_ad/3.png);
	}

	/*/////////////////////////*/
	.lab{
		margin-top: 2%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		margin-top: 10%;
	}

	form{
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}

	label{
		display: block;
		font-size: 20px;
		width: 100%;
		margin-bottom: 4%;
		margin-top: 2%;
	}

	input, textarea{
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 4%;
		font-size: 25px;
		width: 70%;
	}

	button{
		display: inline-block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 6%;
	}
}

/*/425///////////////////////////////////
//////////////////////////////////////////////////*/
@media screen and (max-width:426px){
    .mobile-nav{
        width: 100%;
        padding-left: 0px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
	}
	
	.mobile_nav__item{
        width: 100%;
		padding-left: 0px;
		padding-right: 7%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
	}
	
	.containere h1{
		font-size: 40px;
		line-height: 40px;
	}

	.showcase p{
		width: 90%;
		margin-bottom: 10%;
	}

	.logo{
		padding-top: 3%;
		width: 35%;
	}

	.showcase_02 p{
		width: 90%;
	}

	h2{
		font-size: 30px;
		line-height: 35px;
	}

	.showcase_02 h2{
		font-size: 30px;
		line-height: 35px;
	}

	.box, .box_text{
		display: none;
	}

	/*///////////////////////////////
	/////////*/
	.what_makes_us_awesome h2{
		margin-top: 15%;
		width: 100%;
	}

	.mobile_v_box{
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		margin-top: 5%;
	}

	.mobile_v_box_little{
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}

	.m_v_img_in,
	.m_v_img_in_2,
	.m_v_img_in_3{
		color: #ffffff;
		font-size: 24px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}

	.m_v_img_in::before,
	.m_v_img_in_2::before,
	.m_v_img_in_3::before{
		display: block;
		text-align: center;
		padding-top: 20px;
		width: 110px;
		height: 85px;
		border-radius: 50%;
		background-color: #ffffff;
		margin-bottom: 5%;
		margin-left: auto;
		margin-right: auto;
	}

	.m_v_img_in::before{
		content: url(../img/ikons/1.png);
	}

	.m_v_img_in_2::before{
		content: url(../img/ikons/2.png);
	}

	.m_v_img_in_3::before{
		content: url(../img/ikons/3.png);
	}

	.collor_orang{
		width: 100%;
		padding-top: 10%;
		padding-bottom: 6%;
		background-color: #ee5d30;
		margin-bottom: 2%;
	}

	.mobile_v_box_little p:nth-child(2){
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		font-family: 'Lato';
		margin-bottom: 15%;
	}

	.mobile_v_box_little:last-child{
		margin-bottom: 10%;
	}

	.what_makes_us_awesome .bt{
		left: 25%;
	}

	.box_little_onli_words{
		width: 95%;
	}

	.smart_wotch{
		display: none;
	}

	.iphone{
		background-color: #ee5d30;
	}

	.collor_03{
		background-color: #2f2339;
		margin-top: 0;
	}

	.collor_03 p, .collor_03 h2{
		width: 80%;
	}

	.collor_03 .bt{
		background-color: #ee5d30;
		color: #ffffff;
		margin-top: 10%;
		margin-bottom: 10%;
	}

	.box_other_thims_little{
		width: 100%;
		text-align: center;
	}

	.thanks p:last-child{
		width: 90%;
	}

	.box_contact_little{
		width: 100%;
	}

	.lab{
		margin-top: 20%;
	}

	button{
		width: 50%;
		margin-bottom: 10%;
	}

	footer p{
		font-size: 14px;
	}
}

/*/370-320/////////////////////////////////////
////////////////////////////////////////*/
@media screen and (max-width:375px){
    .what_makes_us_awesome .bt{
		margin-left: 0;
		left: 20%;
	}
}

@media screen and (max-width:350px){
    button {
		width: 60%;
	}
}

@media screen and (max-width:320px){
    .what_makes_us_awesome .bt{
		margin-left: 0;
		left: 15%;	
	}

	.mobile_v_box_little:last-child{
		margin-bottom: 20%;
	}
}